* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

form {
    background-image: url(./Assets/bg.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    backdrop-filter: blur(6px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 2px solid rgba(255, 255, 255, 0.18);
    border-radius: 15px;
    height: 90vh;
    width: 50vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.logo img {
    height: 17vh;
    width: 8vw;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-top: 10px;
height: auto;
width: 50%;
    padding: 10px;
    font-size: 12px;
}

.info input {
    margin: 5px;
    padding: 5px;
    font-size: 11px;
    border: none;
    border-radius: 4px;
    height: 18px;
    width: 50%;
}
.info select{
    font-size: 11px;
    margin-top: 5px;
    padding: 5px;
    height: 28px;
    border-radius: 4px;

}
#Qualification{
    width: 55%;
}
#programs{
    width: 90%;
}
.btn{
    background-color: rgb(68, 4, 68);
    color: white;
    margin: auto;
    height:30px;
    width: 12% ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
}